# Ignore all PNG and JPG images
*.png
*.jpg
*.jpeg
*.DS_Store
*.mp4

# # Ignore everything in the Live_portrait directory
# Live_portrait/

# Ignore everything in the imgs directory
imgs/

# Ignore everything in the positive_from_camera directory
Network_based_on_images/positive_from_camera/

# Ignore everything in the xxx directory
xxx/

# ignore all files in the model directory
*model/
*models/

*model/*/*
*models/*/*

*/model/*/
*/models/*/

*model/*/*/*
*models/*/*/*


!create_face_model/
!Live_portrait/NN_LiveProtrait/Source_Video/source.mp4
!Live_portrait/NN_LiveProtrait/Source_Images
!Live_portrait/NN_LiveProtrait/Output
!Live_portrait/LivePortrait/*

# Explicitly allow LivePortrait model files
!Live_portrait/LivePortrait/*
!Live_portrait/LivePortrait/pretrained_weights/
!Live_portrait/LivePortrait/pretrained_weights/liveportrait/
!Live_portrait/LivePortrait/pretrained_weights/liveportrait/base_models/
!Live_portrait/LivePortrait/pretrained_weights/liveportrait/base_models/*.pth
!Live_portrait/LivePortrait/pretrained_weights/liveportrait_animals/
!Live_portrait/LivePortrait/pretrained_weights/liveportrait_animals/base_models_v1.1/
!Live_portrait/LivePortrait/pretrained_weights/liveportrait_animals/base_models_v1.1/*.pth
!Live_portrait/LivePortrait/pretrained_weights/liveportrait_animals/*.pth
!Live_portrait/LivePortrait/pretrained_weights/liveportrait/*.onnx

# Explicitly allow split_files directory and all its contents
!split_files/
!split_files/**
!split_files/liveportrait/
!split_files/liveportrait/**
!split_files/liveportrait/base_models/
!split_files/liveportrait/base_models/**
!split_files/liveportrait/retargeting_models/
!split_files/liveportrait/retargeting_models/**
!split_files/liveportrait_animals/
!split_files/liveportrait_animals/**
!split_files/liveportrait_animals/base_models/
!split_files/liveportrait_animals/base_models/**
!split_files/liveportrait_animals/retargeting_models/
!split_files/liveportrait_animals/retargeting_models/**
!split_files/insightface/
!split_files/insightface/**