# Ignore all PNG and JPG images
*.png
*.jpg
*.jpeg
*.DS_Store
*.mp4

# # Ignore everything in the Live_portrait directory
# Live_portrait/

# Ignore everything in the imgs directory
imgs/

# Ignore everything in the positive_from_camera directory
Network_based_on_images/positive_from_camera/

# Ignore everything in the xxx directory
xxx/

# Ignore all model directories EXCEPT chrome_extensions/models
*model/
*models/

*model/*/*
*models/*/*

*/model/*/
*/models/*/

*model/*/*/*
*models/*/*/*

# Explicitly allow chrome_extensions/models and its contents
!chrome_extensions/
!chrome_extensions/models/
!chrome_extensions/models/**
!chrome_extensions/models/embeddings/
!chrome_extensions/models/FaceAPI/
!chrome_extensions/models/FaceNet/
!chrome_extensions/models/face_recognition_model-shard1
!chrome_extensions/models/face_recognition_model-weights_manifest.json
!chrome_extensions/models/face_landmark_68_model-shard1
!chrome_extensions/models/face_landmark_68_model-weights_manifest.json
!chrome_extensions/models/face_expression_model-shard1
!chrome_extensions/models/face_expression_model-weights_manifest.json

# Explicitly allow LivePortrait model files
!Live_portrait/LivePortrait/*
!Live_portrait/NN_LiveProtrait/source_Video/source.mp4
!Live_portrait/LivePortrait/pretrained_weights/
!Live_portrait/LivePortrait/pretrained_weights/liveportrait/
!Live_portrait/LivePortrait/pretrained_weights/liveportrait/base_models/
!Live_portrait/LivePortrait/pretrained_weights/liveportrait/base_models/*.pth
!Live_portrait/LivePortrait/pretrained_weights/liveportrait_animals/
!Live_portrait/LivePortrait/pretrained_weights/liveportrait_animals/base_models_v1.1/
!Live_portrait/LivePortrait/pretrained_weights/liveportrait_animals/base_models_v1.1/*.pth
!Live_portrait/LivePortrait/pretrained_weights/liveportrait_animals/*.pth
!Live_portrait/LivePortrait/pretrained_weights/liveportrait/*.onnx

# Explicitly allow split_files directory and all its contents
!split_files/
!split_files/**
!split_files/liveportrait/
!split_files/liveportrait/**
!split_files/liveportrait/base_models/
!split_files/liveportrait/base_models/**
!split_files/liveportrait/retargeting_models/
!split_files/liveportrait/retargeting_models/**
!split_files/liveportrait_animals/
!split_files/liveportrait_animals/**
!split_files/liveportrait_animals/base_models/
!split_files/liveportrait_animals/base_models/**
!split_files/liveportrait_animals/retargeting_models/
!split_files/liveportrait_animals/retargeting_models/**
!split_files/insightface/
!split_files/insightface/**

# Explicitly allow split_files_temp directory and all its contents
!split_files_temp/
!split_files_temp/**

# add the icons folder in the chrome_extensions directory
!chrome_extensions/icons/
!chrome_extensions/icons/**